.container {
  width: 1000px;
  margin: 0 auto;
}

.year-title {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.months-wrapper {
  display: flex;
  justify-content: space-between;
}

.num-of-days-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.input-wrapper {
  display: flex;
}

.num-of-days {
  padding: 8px;
  display: block;
  margin-left: 10px;
}