.container {
  width: 1000px;
  margin: 0 auto;
}

.year-title {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.months-wrapper {
  display: flex;
  justify-content: space-between;
}